/* This CSS theme file has been adapted from the EpiCompare package. */
/* https://github.com/neurogenomics/EpiCompare */

:root {
  /* #99c43c */ 
  --c1: #a16ae8;
  --c2: #603f8b; 
  --c3: #3F448B;
}


.header-section-number::after {
  content: ".";
}

h1 {
  color: var(--c1);
}

h2 {
  color: var(--c2);
}

h3, h4, h5, h6, legend {
  color: var(--c3);
}

#nav-top span.glyphicon {
  color: var(--c1);
}

/* From: https://stackoverflow.com/a/42586042 */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: var(--c2);
  border-color: var(--c3);
}

.btn-success {
  background-color: var(--c3);
}

a {
  color: var(--c2);
}
a:hover {
  color: var(--c1);
}

a:visited {
  color: var(--c3);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: var(--c2);
}
