name: rworkflows_nomeme
'on':
  push:
    branches:
    - master
    - main
    - devel
    - RELEASE_**
    - '*'
    - '!gh-pages'
  pull_request:
    branches:
    - master
    - main
    - devel
    - RELEASE_**
    - '*'
    - '!gh-pages'
jobs:
  rworkflows:
    permissions: write-all
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    container: ${{ matrix.config.cont }}
    strategy:
      fail-fast: ${{ false }}
      matrix:
        config:
        - os: ubuntu-latest
          bioc: devel
          r: auto
          cont: bioconductor/bioconductor_docker:devel # No MEME Suite install
          rspm: https://packagemanager.rstudio.com/cran/__linux__/focal/release
        - os: macOS-latest
          r: latest
          bioc: release
    steps:
    - uses: HDash/rworkflows@master
      with:
        run_bioccheck: ${{ true }}
        run_rcmdcheck: ${{ true }}
        as_cran: ${{ true }}
        run_vignettes: ${{ true }}
        has_testthat: ${{ true }}
        run_covr: ${{ false }}
        run_pkgdown: ${{ false }}
        has_runit: ${{ false }}
        has_latex: ${{ false }}
        run_docker: ${{ false }}
