name: rworkflows
'on':
  push:
    branches:
    - master
    - main
    - devel
    - RELEASE_**
    - '*'
    - '!gh-pages'
  pull_request:
    branches:
    - master
    - main
    - devel
    - RELEASE_**
    - '*'
    - '!gh-pages'
jobs:
  rworkflows:
    permissions: write-all
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    container: ${{ matrix.config.cont }}
    strategy:
      fail-fast: ${{ false }}
      matrix:
        config:
        - os: ubuntu-latest
          bioc: devel
          r: auto
          cont: docker.io/hdasht/bioc-meme:meme5.5.5 # Custom image
          rspm: https://packagemanager.rstudio.com/cran/__linux__/focal/release
    steps:
    - uses: HDash/rworkflows@master
      with:
        run_bioccheck: ${{ true }}
        run_rcmdcheck: ${{ true }}
        as_cran: ${{ true }}
        run_vignettes: ${{ true }}
        has_testthat: ${{ true }}
        run_covr: ${{ true }}
        run_pkgdown: ${{ true }}
        has_runit: ${{ false }}
        has_latex: ${{ false }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        docker_user: hdasht
        docker_org: neurogenomicslab
        run_docker: ${{ true }}
